In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])

In [5]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9